* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: url("./wallpaper2.jpg");

    background-repeat: none;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
section{    background-image: url("./wallpaper.jpg");

    background-repeat: none;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 50px;
    width: 99vw;
    border-bottom:1px solid ;
    border-color:rgba(236, 230, 230, 0.164) ;
    background-color: transparent;
    backdrop-filter: blur(70px);
    position: fixed;
}
body {
    background-color: black;
}

.logo {
    color: aliceblue;
    size: 20px;
    font-size: large;
}

.nav-links {
    /* display: flex; */
    margin: 0px 5px;
    text-decoration: none;
    color: white;
    font-size: large;
    text-transform: capitalize;
}

.btn {
    border: solid rgba(255, 255, 255, 0.24) 1px;
    border-radius: 10px;
    padding: 10px 20px;
    background-color:rgba(233, 222, 222, 0.322);
    color: white;

}
.nav-links:hover{
    color: cornflowerblue;
}